body {
    margin: 0px 100px 0px 100px;
}

/* contact page */

.btn_contact {
    margin: 0px 0px 20px 0px;
}

.searchBar {
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.contactsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.card {
}

/* welcome page */

a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}
